@model ADONETMVC.Models.Usuario

@{
    ViewBag.Title = "Nuevo usuario";
}

<h2>View</h2>


@using (Html.BeginForm("Store","Usuario",FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Usuario</h4>
    <hr />
    <div class="col-md-offset-2 col-md-10">
            Nombre de usuario
            @Html.TextBoxFor(m => m.nombre_usuario, new { @class = "form-control" })
            Nombre
            @Html.TextBoxFor(m => m.nombre, new { @class = "form-control" })
            Apellido
            @Html.TextBoxFor(m => m.apellido, new { @class = "form-control" })
            Clave
            @Html.TextBoxFor(m => m.clave, new { @class = "form-control" })
            Email
            @Html.TextBoxFor(m => m.email, new { @class = "form-control" })
            <br />
            <input type="submit" value="Crear" class="btn btn-default" />
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


